@media (max-width: 1600px) {
    .header-main .logo-main{margin-right:15px;max-width: 70px;}
    .header-main .header-menu nav ul li{margin-right: 15px;}
    .header-main .header-menu nav ul li a{font-size: 14px;}
    
    .header-main .right-nav .search-wrap{margin-right:15px;}
    .header-main .right-nav .current-date{font-size:14px;padding-right:10px;margin-right:10px;}
    .header-main .right-nav .social-menu{gap:16px;}
    
    .banner-section .swiper-slide{padding-top: 330px;}

}

@media (max-width: 1440px) {
    .container{padding-right:15px;padding-left:15px;}
    .row{margin-right:-15px;margin-left:-15px;}
    .col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1,.col{padding-right:15px;padding-left:15px;}

    .header-main .logo-main{max-width: 50px;}
    .advertise_container .ads_infoBox h2{font-size: 38px;}
    .advertise_container .ads_infoBox .top_section .reader_numbers .num_box span{font-size: 14px;padding: 10px 12px;}
    .advertise_container .ads_infoBox p{font-size: 18px;}
    .advertise_container .ads_infoBox .btn_white{padding: 10px 14px;}
    .advertise_container h4{font-size: 26px;}
    .ads_show h6{font-size: 16px;}
    .book_spot .file_upload input{max-width: 100px;}
    h3, .h3 {
        font-size: 24px;
    }
    .get_appBox .left_text{padding: 40px;}
    .get_appBox .left_text h5{
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .get_appBox .right_img .mobile_img{
        max-width: 480px;
        margin: auto;
    }
}


@media (min-width: 1200px) {
    .header-main .navbar-toggler{display: none;}
    .header-main .header-menu .current-date{display: none;}
    .header-main .header-menu .social-menu{display: none;}
}

@media (max-width: 1199px) {
    .header-main{padding: 15px 0;}
    .header-main .container{justify-content: space-between;}
    .header-main .header-menu{position:fixed;top:0;left:0;width:100%;padding:28px 15px 50px;background:var(--white);min-height:100vh;max-height:100vh;transform:translateX(-100%);transition:0.5s;overflow-y:auto;opacity:0;z-index:9;}
    body.menu-open .header-main .header-menu{transform:translateX(0);opacity:1;}
    body.menu-open .header-main .navbar-toggler{margin-left: 5px;}
    
    .header-main .header-menu .current-date{margin: 0 0 20px; padding-right: 5px; border: 0; font-weight: 600;}

    .header-main .header-menu nav{padding-block:20px;border-top:1px solid rgba(9,25,65,0.5);border-bottom:1px solid rgba(9,25,65,0.5);}
    .header-main .header-menu nav ul{display:block;}
    .header-main .header-menu nav ul li{margin:0;}
    .header-main .header-menu nav ul li:not(:last-child){margin-bottom: 8px;}
    .header-main .header-menu nav ul li a{font-size:16px;}
    .header-main .header-menu nav ul > li.menu-item-has-children{position:relative;}
    .header-main .header-menu nav ul > li.menu-item-has-children::after{display:none;}
    
    .header-main .header-menu nav ul li .span_indicator{position:absolute;top:0;right:0;width:27px;height:27px;cursor:pointer;}
    .header-main .header-menu nav ul li .span_indicator::before,.header-main .header-menu nav ul li .span_indicator::after{content:"";position:absolute;inset:0;width:14px;height:2px;margin:auto;background-color:var(--primary);transition:0.3s;}
    .header-main .header-menu nav ul li .span_indicator::after{width:2px;height:14px;}
    .header-main .header-menu nav ul li .span_indicator.active::after{opacity:0;}
    
    .header-main .header-menu .social-menu{margin-top: 30px;}

    .header-main .right-nav{margin-left:0;}

    .header-main .right-nav .search-wrap{margin-right: 0;}
    .header-main .right-nav .current-date{display: none;}
    .header-main .right-nav .social-menu{display: none;}
    .advertise_container .ads_infoBox{padding: 16px 30px 30px 30px;}
    .advertise_container .ads_infoBox .top_section .reader_numbers .num_box span {
        font-size: 12px;
        padding: 8px 10px;
    }
    .advertise_container .ads_infoBox h2{
        font-size: 30px;
    }
    .advertise_container .ads_infoBox p {
        font-size: 16px;
        padding-bottom: 0;
    }
    .advertise_container .ads_infoBox .btn_white {
        padding: 7px 10px;
        font-size: 14px;
    }
    .advertise_container .ads_infoBox{
        margin-bottom: 35px;
    }
    .advertise_container h4 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .ads_show h6 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .advertise_container h4 {
        font-size: 22px;
    }
    .ads_show {
        margin-bottom: 20px;
    }
    .book_spot form#commentform .comment-form-input-wrap {
        width: 100%;
        margin-bottom: 12px;
    }
    .accordion button .accordion-title{
        padding: 0px;
    }
    .accordion .accordion-item {
        padding: 20px 0;
    }
    .accordion button{
        font-size: 18px;
    }
    .accordion .accordion-content p {
        font-size: 14px;
    }
    .accordion button .icon {
        max-width: 15px;
    }
    .get_appBox .left_text{
        padding: 30px;
    }
    .get_appBox .left_text h5 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .get_appBox .right_img .mobile_img{
        max-width: 420px;
    }

}

@media (min-width:992px){
    .d-md-block{display: block;}
    .d-md-none{display: none;}
    .d-md-flex{display: flex;}
}

@media (max-width: 991px) {
    .get_appBox .right_img,.get_appBox .left_text{
        width: 100%;
    }
    .get_appBox .right_img .mobile_img{
        position: relative;
    }
}

@media (min-width: 768px) {
    .d-sm-block{display: block;}
    .d-sm-none{display: none !important;}
    .d-sm-flex{display: flex;}

    .news-list-box.medium-box .news-list-img{height:24vw;}
    .news-list-box.large-box .news-list-img{height:34.5vw;}
}

@media (max-width: 767px) {
    body{font-size: 12px;}
    .col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{max-width: 100%;}
    h3,.h3 {font-size:18px; line-height: 1.4;}
    h5,.h5{font-size:14px;}

    section{padding:40px 0;}
    .title{margin-bottom:20px;}
    .row-gap-60{row-gap:30px;}



    .banner-section .swiper-slide{padding-bottom: 75px;}
    .banner-section .swiper-slide .slide-content h2{margin-bottom: 0;}
    .banner-section .swiper-slide .slide-content .tag-date{margin-bottom: 10px;}
    .banner-section .slider-nav{bottom: 30px;}
    .banner-section .slider-nav .navigation{margin-top: 5px;}
    .banner-section .slider-nav .navigation>div{font-size:14px;}

    .banner-section .trending-now .trending-list{padding-left: 34px;}
    .banner-section .trending-now .trending-list::before{width: 24px; left: 0;}
    .banner-section .trending-now .trending-list li{font-size: 14px; font-weight: 400;}

    .news-list-box .news-list-meta{font-size: 12px;}

    .border_right{border-right: 0px;}
    .container .container{padding: 0px;}

    .advertise_container .ads_infoBox {
        padding: 15px;
    }
    .advertise_container .ads_infoBox .top_section{
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .advertise_container .ads_infoBox .top_section .reader_numbers{
        width: 100%;
    }
    .advertise_container .ads_infoBox .top_section .reader_numbers .num_box span{
        text-align: center;
        line-height: normal;
    }
    .advertise_container .ads_infoBox h2 {
        font-size: 22px;
    }
    .advertise_container .ads_infoBox p{
        font-size: 14px;
    }
    .advertise_container .ads_infoBox .btn_white {
        padding: 5px 10px;
        font-size: 14px;
    }
    .ads_show .ads_boxs .ads_box {
        margin-bottom: 20px;
    }
    .ads_show .ads_boxs .ads_box.col_3 {
        max-width: 100%;
    }
    .ads_show .ads_boxs .ads_box.col_2 {
        max-width: 100%;
    }
    .ads_show .ads_boxs .ads_box {
        margin-bottom: 10px;
    }
    textarea,input, select{
        padding: 10px ;
    }
    .book_spot .file_upload{
        padding: 10px;
    }
    .book_spot .file_upload .icon_upload{
        right: 10px;
        max-width: 22px;
    }
    .accordion button {
        font-size: 16px;
        padding-right: 15px;
    }
    .accordion .accordion-item {
        padding: 15px 0;
    }
    .accordion .accordion-content p {
        font-size: 14px;
        line-height: 1.5;
    }
    
    .get_appBox{
        margin: 20px 0px;
    }
    .get_appBox .left_text{
        padding: 15px;
    }
    .get_appBox .left_text h5 {
        font-size: 18px;
        margin-top: 10px;
    }
    .get_appBox .left_text .app a img {
        max-width: 90px;
    }
    .get_appBox .left_text .slit_line{
        min-height: 36px;
        margin: 0px 8px;
    }
    .get_appBox .right_img .mobile_img {
        max-width: 220px;
        display: block;
    }

}

@media (max-width: 575px) {}

@media (max-width: 360px) {}