@media (max-width: 1860px) {
    .hr{margin: 0 30px; width: calc(100% - 60px);}
}
@media (max-width: 1600px) {
    .header-main .logo-main{margin-right:15px;max-width: 70px;}
    .header-main .header-menu nav ul li{margin-right: 15px;}
    .header-main .header-menu nav ul li a{font-size: 14px;}
    
    .header-main .right-nav .search-wrap{margin-right:15px;}
    .header-main .right-nav .current-date{font-size:14px;padding-right:10px;margin-right:10px;}
    .header-main .right-nav .social-menu{gap:16px;}
    
    .banner-section .swiper-slide{padding-top: 330px;}

}

@media (max-width: 1440px) {
    .container{padding-right:15px;padding-left:15px;}
    .row{margin-right:-15px;margin-left:-15px;}
    .col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1,.col{padding-right:15px;padding-left:15px;}
    .hr{margin: 0 15px; width: calc(100% - 30px);}

    .header-main .logo-main{max-width: 50px;}
}


@media (min-width: 1200px) {
    .header-main .navbar-toggler{display: none;}
    .header-main .header-menu .current-date{display: none;}
    .header-main .header-menu .social-menu{display: none;}
}

@media (max-width: 1199px) {
    .header-main{padding: 15px 0;}
    .header-main .container{justify-content: space-between;}
    .header-main .header-menu{position:fixed;top:0;left:0;width:100%;padding:28px 15px 50px;background:var(--white);min-height:100vh;max-height:100vh;transform:translateX(-100%);transition:0.5s;overflow-y:auto;opacity:0;z-index:9;}
    body.menu-open .header-main .header-menu{transform:translateX(0);opacity:1;}
    body.menu-open .header-main .navbar-toggler{margin-left: 5px;}
    
    .header-main .header-menu .current-date{margin: 0 0 20px; padding-right: 5px; border: 0; font-weight: 600;}

    .header-main .header-menu nav{padding-block:20px;border-top:1px solid rgba(9,25,65,0.5);border-bottom:1px solid rgba(9,25,65,0.5);}
    .header-main .header-menu nav ul{display:block;}
    .header-main .header-menu nav ul li{margin:0;}
    .header-main .header-menu nav ul li:not(:last-child){margin-bottom: 8px;}
    .header-main .header-menu nav ul li a{font-size:16px;}
    .header-main .header-menu nav ul > li.menu-item-has-children{position:relative;}
    .header-main .header-menu nav ul > li.menu-item-has-children::after{display:none;}
    
    .header-main .header-menu nav ul li .span_indicator{position:absolute;top:0;right:0;width:27px;height:27px;cursor:pointer;}
    .header-main .header-menu nav ul li .span_indicator::before,.header-main .header-menu nav ul li .span_indicator::after{content:"";position:absolute;inset:0;width:14px;height:2px;margin:auto;background-color:var(--primary);transition:0.3s;}
    .header-main .header-menu nav ul li .span_indicator::after{width:2px;height:14px;}
    .header-main .header-menu nav ul li .span_indicator.active::after{opacity:0;}
    
    .header-main .header-menu .social-menu{margin-top: 30px;}

    .header-main .right-nav{margin-left:0;}

    .header-main .right-nav .search-wrap{margin-right: 0;}
    .header-main .right-nav .current-date{display: none;}
    .header-main .right-nav .social-menu{display: none;}
}

@media (min-width:992px){
    .d-md-block{display: block;}
    .d-md-none{display: none;}
    .d-md-flex{display: flex;}
}

@media (max-width: 991px) {}

@media (min-width: 768px) {
    .d-sm-block{display: block;}
    .d-sm-none{display: none !important;}
    .d-sm-flex{display: flex;}

    .news-list-box.medium-box .news-list-img{height:24vw;}
    .news-list-box.large-box .news-list-img{height:34.5vw;}
    .news-list-row .news-list-box .news-list-title,
    .news-list-row .news-list-box .news-list-meta .news-list-date,
    .news-list-row .news-list-box .news-list-meta .news-list-category a{transition:color 0.3s ease,background-color 0.3s ease;}
    .news-list-row:hover{background:var(--primary);padding: 30px 20px;}
    .news-list-row:hover .news-list-box .news-list-meta .news-list-category a{background-color:var(--white);color:var(--primary);}
    .news-list-row:hover .news-list-box .news-list-meta .news-list-date,
    .news-list-row:hover .news-list-box .news-list-title,
    .news-list-row:hover .news-list-box .news-list-excerpt{color:var(--white);}
    .news-list-row:has(.news-list-img:focus){outline: 1px dashed var(--primary);outline-offset: 1px;color:var(--white);background:var(--primary);padding: 30px 20px;}
    .news-list-row:has(.news-list-title:focus){outline: 1px dashed var(--primary);outline-offset: 1px;color:var(--white);background:var(--primary);padding: 30px 20px;}
    .news-list-row .news-list-box:focus-within{outline: none;}
}

@media (max-width: 767px) {
    body{font-size: 12px;}
    .col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1{max-width: 100%;}
    h3,.h3 {font-size:18px; line-height: 1.4;}
    h5,.h5{font-size:16px;}

    section{padding:40px 0;}
    .title{margin-bottom:12px;}
    .row-gap-60{row-gap:30px;}
    .py-60{padding:40px 0;}
    .btn:-webkit-any-link, .btn{padding: 10px 15px; font-size: 14px;}

    .banner-section .swiper-slide{padding-bottom: 75px;}
    .banner-section .swiper-slide .slide-content h2{margin-bottom: 0;}
    .banner-section .swiper-slide .slide-content .tag-date{margin-bottom: 10px;}
    .banner-section .slider-nav{bottom: 30px;}
    .banner-section .slider-nav .navigation{margin-top: 5px;}
    .banner-section .slider-nav .navigation>div{font-size:14px;}

    .banner-section .trending-now .trending-list{padding-left: 34px;}
    .banner-section .trending-now .trending-list::before{width: 24px; left: 0;}
    .banner-section .trending-now .trending-list li{font-size: 14px; font-weight: 400;}

    .news-list-row{flex-direction: column-reverse; padding: 20px 0;}
    .news-list-row:first-child{padding-top: 0;}
    .news-list-row:last-child{padding-bottom: 0;}
    .news-list-box .news-list-meta{font-size: 12px;}
    .news-list-row .news-list-img{height:50vw; margin-bottom: 10px;}

    .footer-main .footer-newsletter{padding-block: 30px;}
    .footer-main .footer-newsletter h3{font-size: 14px;}

}

@media (max-width: 575px) {}

@media (max-width: 360px) {}