@charset "utf-8";

:root {
   --primary: #091842;
   --second: #193176;
   --white: #ffffff;
   --black: #000000;
   --primary-font: "Open Sans", sans-serif;
}

/* 1. Create a Clean Base
------------------------------------------------------------------------------*/
html,
body,
br,
hr,
div,
span,
a,
object,
iframe,
ul,
ol,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
q,
address,
small,
big,
cite,
dfn,
ins,
del,
i,
em,
b,
strong,
sup,
sub,
strike,
pre,
code,
samp,
kbd,
var,
tt,
form,
fieldset,
legend,
label,
input,
textarea,
option,
.nobox {
   background: transparent;
   border: 0;
   font-size: 100%;
   margin: 0;
   outline: 0;
   padding: 0;
   vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
   display: block;
}

blockquote,
q {
   quotes: none;
}

br {
   height: 0;
}

ul,
ol,
dl,
li {
   margin: 0;
   padding: 0;
}

li {
   list-style-position: inside;
}

body {
   font-family: var(--primary-font);
   position: relative;
   font-size: 16px;
   line-height: 1.7;
   color: var(--primary);
   background-color: var(--white);
   font-weight: 400;
   overflow-x: hidden;
}

html.overflow-hidden {
   overflow: hidden;
}

/* Class for clearing floats */
.clear {
   clear: both;
   display: block;
   overflow: hidden;
   visibility: hidden;
   width: 0;
   height: 0;
}

.cf:after,
.cf:before {
   display: table;
   content: ''
}

.cf:after {
   clear: both;
}

* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body.overlay {
   overflow: hidden;
}

/* 2. Define Base Typography
------------------------------------------------------------------------------*/

/* Create the Default Headers  */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
   font-family: var(--primary-font);
   line-height: 1.2;
   font-weight: bold;
   color: var(--primary);
   margin-bottom: 20px;
}

/* Specific Header Settings */
h1,
.h1 {
   font-size: 44px;
}

h2,
.h2 {
   font-size: 34px;
}

h3,
.h3 {
   font-size: 30px;
}

h4,
.h4 {
   font-size: 24px;
}

h5,
.h5 {
   font-size: 20px;
}

h6,
.h6 {
   font-size: 16px;
}

.font-normal {
   font-weight: 400;
}

/* Other Typo */
strong {
   font-weight: bold;
}

ol {
   list-style: decimal;
}

ul {
   list-style: none;
}

section {
   padding: 60px 0;
}

p:not(:last-child) {
   margin-bottom: 20px;
}

.hr {
   width: 100%;
   height: 1px;
   display: block;
   max-width: 1800px;
   margin: 0 auto;
   background-color: rgba(9, 25, 65, 0.5);
}

/* 3. Images
------------------------------------------------------------------------------*/
img {
   border: 0;
   border-style: none;
   max-width: 100%;
}

.img-fluid {
   max-width: 100%;
   height: auto;
}

/* 4. Links
------------------------------------------------------------------------------*/

/* Default Link Types */
a {
   text-decoration: none !important;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
   transition: all 0.5s;
}

a:hover {
   color: var(--primary-font);
}

a:focus {
   outline: none;
}


/* 5. Forms
------------------------------------------------------------------------------*/
input[type='submit'] {
   font-family: var(--primary-font);
   appearance: none;
   -webkit-appearance: none;
   -webkit-text-size-adjust: none;
}

input,
select {
   font-family: var(--primary-font);
   color: var(--primary);
   border: 1px solid rgba(9, 25, 65, 0.20);
   background-color: #F9FBFF;
   padding: 17px 20px;
}

input[type='text'] {
   width: 100%;
}

textarea {
   font-family: var(--primary-font);
   color: var(--primary);
   border: 1px solid rgba(9, 25, 65, 0.20);
   background-color: #F9FBFF;
   padding: 17px 20px;
   width: 100%;
}

input[type='text']::-webkit-input-placeholder {
   color: rgba(9, 25, 65, 0.50);
}

input[type='text']::-moz-placeholder {
   color: rgba(9, 25, 65, 0.50);
}

input[type='text']::-moz-placeholder {
   color: rgba(9, 25, 65, 0.50);
}

input[type='text']:-ms-input-placeholder {
   color: rgba(9, 25, 65, 0.50);
}

input[type='text']::-ms-input-placeholder {
   color: rgba(9, 25, 65, 0.50);
}

input[type="checkbox"] {
   appearance: none !important;
   -webkit-appearance: none !important;
   background-color: var(--white);
   border: 2px solid #2d2343;
   border-radius: 6px !important;
   width: 24px !important;
   height: 24px !important;
   cursor: pointer;
   position: relative;
   vertical-align: middle;
   transition: border-color 0.2s, box-shadow 0.2s;
   outline: none;
   box-shadow: none;
   padding: 0 !important;
}

input[type="checkbox"]:checked {
   background-color: #2d2343;
   border-color: #2d2343;
}

input[type="checkbox"]:checked::after {
   content: '';
   position: absolute;
   left: 7px;
   top: 3px;
   width: 5px;
   height: 10px;
   border: solid var(--white);
   border-width: 0 2px 2px 0;
   transform: rotate(45deg);
   pointer-events: none;
}

input[type='submit'] {
   padding: 12px 10px;
   background: var(--primary);
   color: var(--white);
   cursor: pointer;
}

/* Removes fieldset borders. even on Opea 7 */
fieldset {
   border: 1px solid transparent;
}

/* 6. Tables
------------------------------------------------------------------------------*/
/* Table Fixes */
table {
   border-spacing: 0;
   border-collapse: collapse;
}

td {
   text-align: left;
   font-weight: normal;
}

/* 7. Framework
------------------------------------------------------------------------------*/

/* Common CSS */
html.overflow-hidden body {
   padding-right: 17px;
}

.container {
   width: 100%;
   max-width: 1860px;
   padding-right: 30px;
   padding-left: 30px;
   margin-right: auto;
   margin-left: auto;
}

.row {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -30px;
   margin-left: -30px;
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1,
.col {
   position: relative;
   width: 100%;
   padding-right: 30px;
   padding-left: 30px;
}

.no-gutter {
   margin-right: 0;
   margin-left: 0;
}

.no-gutter>:is(.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1) {
   padding-right: 0;
   padding-left: 0;
}

.small-gutter {
   margin-right: -9px;
   margin-left: -9px;
}

.small-gutter>:is(.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1) {
   padding-right: 9px;
   padding-left: 9px;
}

.col-12 {
   max-width: 100%;
}

.col-11 {
   max-width: 91.66666667%;
}

.col-10 {
   max-width: 83.33333333%;
}

.col-9 {
   max-width: 75%;
}

.col-8 {
   max-width: 66.66666667%;
}

.col-7 {
   max-width: 58.33333333%;
}

.col-6 {
   max-width: 50%;
}

.col-5 {
   max-width: 41.66666667%;
}

.col-4 {
   max-width: 33.33333333%;
}

.col-3 {
   max-width: 25%;
}

.col-2 {
   max-width: 16.66666667%;
}

.col-1 {
   max-width: 8.33333333%;
}

.container-fluid {
   padding-right: 30px;
   padding-left: 30px;
}

.d-none {
   display: none;
}

.d-flex {
   display: flex;
}

.flex-wrap {
   flex-wrap: wrap;
}

.flex-column {
   flex-direction: column;
}

.flex-row-reverse {
   flex-direction: row-reverse;
}

.flex-column-reverse {
   flex-direction: column-reverse;
}

.align-items-center {
   align-items: center
}

.align-items-start {
   align-items: flex-start
}

.align-items-end {
   align-items: flex-end
}

.justify-content-center {
   justify-content: center;
}

.justify-content-between {
   justify-content: space-between;
}

.justify-content-end {
   justify-content: flex-end;
}

.text-center {
   text-align: center;
}

.text-left {
   text-align: left;
}

.text-right {
   text-align: right;
}

.unlisted {
   list-style: none;
}


.w-100 {
   width: 100% !important;
}

.m-auto {
   margin: 0 auto;
}

.mr-auto {
   margin-right: auto;
}

.ml-auto {
   margin-left: auto;
}

.mt-auto {
   margin-top: auto;
}

.m-0 {
   margin: 0;
}

.p-0 {
   padding: 0 !important;
}

.pt-0 {
   padding-top: 0 !important;
}

.pb-0 {
   padding-bottom: 0 !important;
}

.pb-30 {
   padding-bottom: 30px;
}

.py-30 {
   padding: 30px 0;
}

.py-60 {
   padding: 60px 0;
}

.row-gap-30 {
   row-gap: 30px;
}

.row-gap-60 {
   row-gap: 60px;
}

.bg-set {
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.img-set>:is(img, video) {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

a:-webkit-any-link {
   color: inherit;
}

.hyperlink {
   font-weight: bold;
   display: flex;
   align-items: center;
   width: max-content;
   gap: 5px;
   transition: all .2s ease;
   position: relative;
}

.hyperlink::after {
   content: "";
   width: 25px;
   height: 25px;
   margin-top: -2px;
   display: flex;
   align-items: center;
   background-image: url(../images/link-arrow.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 50%;
   transition: all .2s ease;
}

.hyperlink:hover::after {
   transform: translateX(5px);
}

.btn:-webkit-any-link,
.btn {
   font-family: var(--primary-font);
   font-size: 16px;
   font-weight: 600;
   color: var(--white);
   line-height: 1.2;
   display: flex;
   align-items: center;
   justify-content: center;
   width: max-content;
   gap: 10px;
   background-color: var(--primary);
   cursor: pointer;
   border: 0;
   text-align: center;
   transition: 0.4s ease;
   padding: 13px 20px;
}

.btn:hover {
   background-color: var(--second);
   color: var(--white);
}

.title {
   margin-bottom: 40px;
}

.title h2 {
   margin-bottom: 0;
}

/* Header Start*/
.header-main {
   background-color: var(--white);
   padding: 22px 0px;
   position: sticky;
   z-index: 999;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   transition: 0.5s all ease;
   -webkit-transition: 0.5s all ease;
   -moz-transition: 0.5s all ease;
   -o-transition: 0.5s all ease;
}

.header_wrapper {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.header-main .logo-main {
   margin-right: 60px;
}

.header-main .logo-main img {
   display: block;
}

.header-main .navbar-toggler {
   width: 24px;
   height: 24px;
   border: 0;
   padding: 0;
   background-color: transparent;
   display: flex;
   justify-content: center;
   flex-direction: column;
   cursor: pointer;
   z-index: 11;
   transition: 0.5s;
}

.header-main .navbar-toggler span {
   width: 24px;
   height: 2px;
   border-radius: 3px;
   background-color: var(--black);
   position: relative;
   transition: .4s;
}

.header-main .navbar-toggler span+span {
   margin-top: 5px;
}

.header-main .navbar-toggler span:nth-child(2) {
   width: 15px;
}

body.menu-open .navbar-toggler span:first-child {
   transform: rotate(45deg) translateX(5px) translateY(5px);
}

body.menu-open .navbar-toggler span:nth-child(2) {
   opacity: 0;
   visibility: hidden;
}

body.menu-open .navbar-toggler span:last-child {
   transform: rotate(-45deg) translatex(5px) translateY(-5px);
}


.header-main .header-menu nav ul {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.header-main .header-menu nav ul li {
   font-size: 16px;
   font-weight: bold;
   margin-right: 30px;
}

.header-main .header-menu nav ul>li.menu-item-has-children::after {
   content: "+";
   display: inline-block;
   transition: all 0.3s ease-in-out;
}

.header-main .header-menu nav ul li a {
   color: var(--primary);
   transition: 0.5s all ease;
   -webkit-transition: 0.5s all ease;
   -moz-transition: 0.5s all ease;
   -o-transition: 0.5s all ease;
   position: relative;
}

.header-main .header-menu nav ul li a:after {
   position: absolute;
   content: '';
   width: 0;
   height: 1.5px;
   bottom: 0px;
   left: 0;
   right: 0;
   background-color: var(--primary);
   transition: 0.5s all ease;
   -webkit-transition: 0.5s all ease;
   -moz-transition: 0.5s all ease;
   -o-transition: 0.5s all ease;
}

.header-main .header-menu nav ul li a:hover:after {
   width: 100%;
}

.header-main .right-nav {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.header-main .right-nav .search-wrap {
   margin-right: 23px;
}

.header-main .right-nav .search-wrap .search-open {
   max-width: 18px;
   display: block;
}

.header-main .right-nav .search-wrap .search-open img {
   cursor: pointer;
   display: block;
}

.header-main .current-date {
   font-size: 14px;
   padding-right: 15px;
   margin-right: 15px;
   border-right: 1px solid var(--primary);
   gap: 10px;
}

.header-main .current-date .icon {
   min-width: 15px;
}

.header-main .current-date .icon img {
   display: block;
}

.header-main .social-menu {
   gap: 24px;
}

.header-main .social-menu a:hover {
   opacity: 0.7;
}

/* Header End*/


.main {
   margin-top: 149px;
}

/* home slider  */
.newsswiper {
   width: 100%;
   height: 780px;
}

.newsswiper .swiper-slide {
   position: relative;
}

.newsswiper .swiper-slide .news-slide,
.newsswiper .swiper-slide .back_img {
   width: 100%;
   height: 100%;
}

.newsswiper .swiper-slide .back_img {
   background-size: 100%;
   background-position: top center;
   position: relative;
   z-index: 9;
}

.newsswiper .swiper-slide .back_img:after {
   position: absolute;
   content: '';
   width: 100%;
   height: 80%;
   z-index: 1;
   left: 0;
   right: 0;
   bottom: 0px;
   background: RGBA(7, 24, 62, 0.7);
   background: linear-gradient(180deg, rgba(7, 24, 62, 0) 0%, rgba(7, 24, 62, 0.86) 100%);
}

.autoplay-progress {
   display: flex;
   align-items: center;
   gap: 10px;
   width: 100%;
}

.progress-bar {
   height: 4px;
   background-color: rgba(178, 178, 178, 0.5);
   border-radius: 2px;
   overflow: hidden;
   position: relative;
   margin: 0 auto;
}

.wrap_navigation {
   position: absolute;
   bottom: 100px;
   left: 0;
   right: 0;
   margin: auto;
   z-index: 99;
   width: 100%;
   max-width: 1800px;
}

.progress-fill {
   height: 100%;
   width: 0%;
   background-color: rgba(255, 255, 255, 0.5);
   transition: all 0.25s linear;
}

.navigation {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
}

.navigation>div {
   font-size: 18px;
   color: var(--white);
   font-weight: bold;
   cursor: pointer;
   transition: 0.5s all ease;
   -webkit-transition: 0.5s all ease;
   -moz-transition: 0.5s all ease;
   -o-transition: 0.5s all ease;
}

.navigation>div:hover {
   opacity: 0.7;
}

.slide_content {
   position: absolute;
   bottom: 160px;
   left: 0;
   right: 0;
   margin: auto;
   z-index: 99;
   width: 100%;
   max-width: 1800px;
}

.slide_content .white_chip {
   font-weight: 500;
   font-size: 17px;
   color: var(--primary-color);
   background-color: var(--white);
   border-radius: 5px;
   margin-right: 10px;
   padding: 5px 10px;
}

.slide_content .date {
   font-weight: bold;
   font-size: 17px;
   color: var(--white);
}

.slide_content h3 {
   color: var(--white);
   font-size: 44px;
   font-weight: 600;
   margin-bottom: 10px;
   margin-top: 30px;
}

.slide_content p {
   color: var(--white);
   font-size: 20px;
   font-weight: 400;
   max-width: 80%;
}

#mainHeader.scrolled {
   padding: 10px 0px;
}

#mainHeader.scrolled .head_logo {
   max-width: 80px;
}

.btn-whatsapp-pulse {
   background: #25d366;
   color: white;
   position: fixed;
   bottom: 20px;
   right: 20px;
   font-size: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 0;
   height: 0;
   width: 66px;
   height: 66px;
   text-decoration: none;
   border-radius: 50%;
   animation-name: pulse;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-iteration-count: infinite;
   z-index: 999;
}

.btn-whatsapp-pulse svg {
   width: 35px;
   height: 35px;
}

.btn-whatsapp-pulse {
   background: #25d366;
   color: white;
   position: fixed;
   bottom: 50px;
   right: 20px;
   font-size: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 0;
   height: 0;
   width: 66px;
   height: 66px;
   text-decoration: none;
   border-radius: 50%;
   animation-name: pulse;
   animation-duration: 1.5s;
   animation-timing-function: ease-out;
   animation-iteration-count: infinite;
   z-index: 11;
}

.btn-whatsapp-pulse svg {
   width: 35px;
   height: 35px;
}

@keyframes pulse {
   0% {
      box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
   }

   80% {
      box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
   }
}









/* advertise_container */
.advertise_container {
   max-width: 1335px;
}

.advertise_container .ads_infoBox {
   background-color: #091941;
   padding: 26px 40px 40px 40px;
   margin-bottom: 60px;
}

.advertise_container .ads_infoBox .top_section {
   display: flex;
   align-items: start;
   justify-content: space-between;
}

.advertise_container .ads_infoBox .top_section .reader_numbers {
   display: flex;
   align-items: center;
   margin-top: 14px;
}

.advertise_container .ads_infoBox .top_section .reader_numbers .num_box {
   background: #F9FBFF;
   background: linear-gradient(90deg, rgba(249, 251, 255, 0) 0%, rgba(249, 251, 255, 1) 51%, rgba(249, 251, 255, 0) 100%);
   padding: 1.1px;
}

.advertise_container .ads_infoBox .top_section .reader_numbers .num_box span {
   font-size: 18px;
   font-weight: bold;
   color: var(--white);
   padding: 15px 17px;
   background-color: var(--primary-color);
   display: block;
}

.advertise_container .ads_infoBox h2 {
   color: var(--white);
   font-weight: bold;
   font-size: 44px;
}

.advertise_container .ads_infoBox p {
   color: var(--white);
   font-weight: 400;
   font-size: 20px;
   line-height: 1.6;
   max-width: 745px;
   padding-top: 10px;
   padding-bottom: 15px;
}

.advertise_container .ads_infoBox .btn_white {
   background-color: var(--white);
   font-weight: 500;
   font-size: 16px;
   display: inline-block;
   vertical-align: middle;
   padding: 14px 17px;
}

.ads_show {
   margin-bottom: 60px;
}

.advertise_container h4 {
   margin-bottom: 20px;
   font-weight: bold;
   font-size: 30px;
}

.ads_show h6 {
   font-size: 20px;
   line-height: 1.6;
   margin-bottom: 20px;
   font-weight: 500;
}

.ads_show .ads_boxs {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.ads_show .ads_boxs .ads_box.col_3 {
   max-width: 31%;
}

.ads_show .ads_boxs .ads_box.col_2 {
   max-width: 66%;
}

.ads_show .ads_boxs .ads_box {
   margin-bottom: 60px;
}

.book_spot {
   border-top: 1px solid rgba(9, 25, 65, 0.5);
   padding-top: 25px;
}

.breadcrumb-section {
   background-color: var(--primary);
   color: var(--white);
   padding: 14px 0;
}

.breadcrumb-section .breadcrumb-outer {
   display: flex;
   justify-content: space-between;
}

.breadcrumb-section .breadcrumb-outer .breadcrumb ul {
   display: flex;
   align-items: center;
}

.breadcrumb-section .breadcrumb-outer .breadcrumb ul li {
   font-weight: 600;
   font-size: 16px;
}

.breadcrumb-section .breadcrumb-outer .breadcrumb ul li:not(:last-child) {
   padding-right: 16px;
   position: relative;
   font-weight: 400;
}

.breadcrumb-section .breadcrumb-outer .breadcrumb ul li:not(:last-child)::after {
   content: '/';
   position: absolute;
   right: 6px;
}

.breadcrumb-section .breadcrumb-outer .breadcrumb ul li a {
   color: var(--white);
}

.breadcrumb-section .breadcrumb-outer .trending-now {
   width: 40%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.breadcrumb-section .breadcrumb-outer .trending-now ul li {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.breadcrumb-section .breadcrumb-outer .trending-now .trending-list {
   padding-left: 50px;
   position: relative;
}

.breadcrumb-section .breadcrumb-outer .trending-now .trending-list::before {
   content: '';
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   width: 35px;
   height: 20px;
   background-image: url(../images/trend-white.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}


/* Hero Banner Section Start */

.banner-section .swiper-slide {
   position: relative;
   padding: 435px 0 155px;
}

.banner-section .swiper-slide:after {
   position: absolute;
   content: '';
   width: 100%;
   height: 80%;
   left: 0;
   right: 0;
   bottom: 0px;
   background: rgba(7, 24, 62, 0.7);
   background: linear-gradient(180deg, rgba(7, 24, 62, 0) 0%, rgba(7, 24, 62, 0.86) 100%);
   pointer-events: none;
}

.banner-section .swiper-slide .slide-content {
   position: relative;
   z-index: 1;
}

.banner-section .swiper-slide .slide-content .tag-date {
   margin-bottom: 30px;
}

.banner-section .swiper-slide .slide-content .tag {
   font-weight: 600;
   line-height: 1.2;
   color: var(--primary);
   background-color: var(--white);
   border-radius: 5px;
   margin-right: 10px;
   padding: 6px 12px;
}

.banner-section .swiper-slide .slide-content .date {
   font-weight: bold;
   line-height: 1.2;
   color: var(--white);
}

.banner-section .swiper-slide .slide-content h2 {
   font-weight: 600;
   color: var(--white);
   margin-bottom: 10px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

.banner-section .swiper-slide .slide-content h2 a:hover {
   opacity: 0.7;
}

.banner-section .swiper-slide .slide-content p {
   color: var(--white);
   max-width: 80%;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
}


.banner-section .slider-nav {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 100px;
   z-index: 1;
}

.banner-section .slider-nav .progress-bar {
   height: 2px;
   background-color: rgba(178, 178, 178, 0.5);
   border-radius: 2px;
   overflow: hidden;
   position: relative;
   margin: 0 auto;
}

.banner-section .slider-nav .progress-fill {
   height: 100%;
   width: 0%;
   background-color: rgba(255, 255, 255, 0.5);
   transition: all 0.25s linear;
}

.banner-section .slider-nav .navigation {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
}

.banner-section .slider-nav .navigation>div {
   font-size: 18px;
   color: var(--white);
   font-weight: bold;
   cursor: pointer;
   transition: 0.5s all ease;
   -webkit-transition: 0.5s all ease;
   -moz-transition: 0.5s all ease;
   -o-transition: 0.5s all ease;
}

.banner-section .slider-nav .navigation>div:hover {
   opacity: 0.7;
}

.banner-section .trending-now {
   padding: 20px 0;
}

.banner-section .trending-now .trending-list {
   padding-left: 65px;
   position: relative;
}

.banner-section .trending-now .trending-list::before {
   content: '';
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   width: 35px;
   height: 20px;
   background-image: url(../images/trend.svg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

.banner-section .trending-now .trending-list li {
   font-weight: 600;
}

.banner-section .trending-now .trending-list li:not(:first-child) {
   display: none;
}

.banner-section .trending-now .trending-list li a:hover {
   color: var(--second);
}

/* Hero Banner Section End */


/* News List Section Start */
.news-list {
   display: flex;
   gap: 60px;
}

.news-list-box:focus-within {
   outline: 1px dashed var(--primary);
   outline-offset: 1px;
}

.news-list-box .news-list-img {
   height: 15vw;
   overflow: hidden;
   display: block;
   margin-bottom: 20px;
}

.news-list-box .news-list-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.4s ease;
}

.news-list-box .news-list-img img:hover {
   opacity: 0.8;
}

.news-list-box .news-list-meta {
   margin-bottom: 10px;
   display: flex;
   gap: 10px;
   font-size: 14px;
   line-height: 1.4;
   align-items: center;
   font-weight: 600;
}

.news-list-box .news-list-meta .news-list-category a {
   padding: 5px 9px;
   background-color: var(--primary);
   border-radius: 5px;
   display: block;
   color: var(--white);
}

.news-list-box .news-list-meta .news-list-category a:focus {
   outline: 1px dashed var(--primary);
   outline-offset: 1px;
}

.news-list-box:has(.news-list-meta .news-list-category a:focus) {
   outline: none;
}

.news-list-box .news-list-title {
   margin-bottom: 6px;
}

.news-list-box .news-list-title:hover {
   color: var(--second);
}

/* News List Section End */


/* Crime News Section Start */
.news-list-row {
   display: flex;
   justify-content: space-between;
   transition: padding 0.3s ease;
}

.news-list-row:not(:last-child) {
   border-bottom: 1px solid rgba(9, 25, 65, 0.50);
}

.news-list-row .news-list-img {
   height: 11vw;
   overflow: hidden;
   display: block;
}

.news-list-row .news-list-box {
   width: 100%;
   max-width: 630px;
}

.news-list-row .news-list-box .news-list-title,
.news-list-row .news-list-box .news-list-meta .news-list-date,
.news-list-row .news-list-box .news-list-meta .news-list-category a {
   transition: color 0.3s ease, background-color 0.3s ease;
}

.news-list-row:hover {
   background: var(--primary);
   padding: 30px 20px;
}

.news-list-row:hover .news-list-box .news-list-meta .news-list-category a {
   background-color: var(--white);
   color: var(--primary);
}

.news-list-row:hover .news-list-box .news-list-meta .news-list-date,
.news-list-row:hover .news-list-box .news-list-title,
.news-list-row:hover .news-list-box .news-list-excerpt {
   color: var(--white);
}

.news-list-row:has(.news-list-img:focus) {
   outline: 1px dashed var(--primary);
   outline-offset: 1px;
   color: var(--white);
   background: var(--primary);
   padding: 30px 20px;
}

.news-list-row:has(.news-list-title:focus) {
   outline: 1px dashed var(--primary);
   outline-offset: 1px;
   color: var(--white);
   background: var(--primary);
   padding: 30px 20px;
}

.news-list-row .news-list-box:focus-within {
   outline: none;
}

/* Crime News Section End */


/* Footer Start */
.footer-main .footer-newsletter {
   background-color: var(--primary);
   padding: 65px 0;
}

.footer-main .footer-newsletter h3 {
   font-weight: 600;
   color: var(--white);
   margin-bottom: 0;
}

.footer-main .footer-newsletter .newsletter-form {
   max-width: 490px;
   margin-left: auto;
   color: var(--white);
   font-size: 14px;
}

.footer-main .footer-newsletter .newsletter-form form {
   position: relative;
}

.footer-main .footer-newsletter .newsletter-form form .form-group {
   margin-bottom: 10px;
}

.footer-main .footer-newsletter .newsletter-form form .form-control {
   padding: 22px 135px 22px 52px;
   background-image: url(../images/black-email.svg);
   background-position: center left 20px;
   background-repeat: no-repeat;
   background-size: 22px;
}

.footer-main .footer-newsletter .newsletter-form form .form-control::placeholder {
   color: var(--primary);
}

.footer-main .footer-newsletter .newsletter-form form button.btn {
   position: absolute;
   top: 10px;
   right: 10px;
}

.footer-main .footer-middle {
   padding: 100px 0 60px;
}

.footer-main .footer-middle .footer-logo {
   max-width: 155px;
   margin-bottom: 15px;
}

.footer-main .footer-middle .footer-logo img {
   display: block;
}

.footer-main .footer-middle .description {
   max-width: 500px;
}

.footer-main .footer-middle .naviAdd ul {
   column-count: 3;
}

.footer-main .footer-middle .naviAdd ul li {
   margin-bottom: 9px;
}

.footer-main .footer-middle .naviAdd ul li.current-menu-item a {
   font-weight: 600;
}

.footer-main .footer-middle .naviAdd ul li a:hover {
   color: var(--second);
}

.footer-main .footer-bottom {
   padding: 25px 0;
   border-top: 1px solid rgba(9, 25, 65, 0.5);
}

.footer-main .footer-bottom .social-menu {
   gap: 15px;
}

.footer-main .footer-bottom .social-menu li a {
   padding: 8px;
   background-color: var(--primary);
   border-radius: 100%;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-main .footer-bottom .social-menu li a:hover {
   background-color: var(--second);
}

.footer-main .footer-bottom .social-menu li a img {
   filter: brightness(0) invert(1);
}

.footer-main .footer-bottom .page-links li:not(:first-child) {
   position: relative;
   margin-left: 30px;
}

.footer-main .footer-bottom .page-links li:not(:first-child)::before {
   content: '';
   position: absolute;
   top: 4px;
   left: -16px;
   height: 20px;
   width: 1px;
   background-color: var(--primary);
}

.footer-main .footer-bottom .page-links li a:hover {
   color: var(--second);
}

/* Footer End */


/** Single News section Start **/
.single-news-section {
   padding-top: 30px;
}

.single-news-section .single-news-outer {
   position: relative;
}

.single-news-section .single-news-outer:after {
   content: "";
   position: absolute;
   top: 0;
   right: -30px;
   height: 100%;
   width: 1px;
   background: rgba(9, 25, 65, 0.50);
}

.single-news-section .single-news-outer .single-news-title-outer {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
}

.single-news-section .single-news-outer .single-news-title-outer .single-news-title {
   width: 775px;
   max-width: 100%;
}

.single-news-section .single-news-outer .single-news-title-outer .single-news-meta {
   display: flex;
   align-items: center;
   font-size: 18px;
   font-weight: 600;
   gap: 10px;
   margin-bottom: 20px;
}

.single-news-section .single-news-outer .single-news-title-outer .single-news-meta .single-news-category a {
   background-color: var(--primary);
   padding: 4px 8px;
   border-radius: 5px;
   color: var(--white);
   display: block;
   line-height: 1.7;
}

.single-news-section .single-news-outer .single-news-share-info {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer {
   display: flex;
   gap: 10px;
   background: transparent;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   color: #fff;
   font-size: 24px;
   text-decoration: none;
   transition: transform 0.2s;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.facebook {
   background: #3b5998;
   color: #3b5998;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.twitter {
   background: #20143a;
   color: #20143a;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.pinterest {
   background: #bd081c;
   color: #bd081c;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.whatsapp {
   background: #25d366;
   color: #25d366;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.linkedin {
   background: #0077b5;
   color: #0077b5;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.reddit {
   background: #ff5700;
   color: #ff5700;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.telegram {
   background: #29a9ea;
   color: #29a9ea;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.email {
   background: #20143a;
   color: #20143a;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn.print {
   background: #20143a;
   color: #20143a;
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn:hover {
   transform: scale(1.1);
}

.single-news-section .single-news-outer .single-news-share-info .single-news-share-outer .share-btn:focus {
   transform: scale(1.1);
   outline: 1px dashed;
   outline-offset: 1px;
}

.single-news-section .single-news-outer .single-news-pagination-outer {
   display: flex;
   gap: 2px;
}

.single-news-section .single-news-outer .single-news-pagination-outer .single-news-pagination {
   display: flex;
   width: calc(50% - 1px);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 250px;
   position: relative;
   flex-direction: column;
   justify-content: flex-end;
   overflow: hidden;
   transition: background-size 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.single-news-section .single-news-outer .single-news-pagination-outer .single-news-pagination:focus {
   outline: 1px dashed var(--primary);
   outline-offset: 1px;
}

.single-news-section .single-news-outer .single-news-pagination-outer .single-news-pagination.single-news-pagination-next {
   text-align: right;
   align-items: flex-end;
}

.single-news-section .single-news-outer .single-news-pagination-outer .single-news-pagination:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(0deg, rgba(2, 2, 2, 0.80) 0%, rgba(2, 2, 2, 0.80) 100%);
   transition: 0.5s all;
}

.single-news-section .single-news-outer .single-news-pagination-outer .single-news-pagination.single-news-pagination-prev:before {
   background: linear-gradient(0deg, rgba(9, 24, 66, 0.80) 0%, rgba(9, 24, 66, 0.80) 100%);
}

.single-news-section .single-news-outer .single-news-pagination-outer .single-news-pagination .single-news-pagination-info {
   padding: 40px 40px 20px 40px;
}

.single-news-section .single-news-outer .single-news-pagination-outer .single-news-pagination * {
   position: relative;
   z-index: 9;
   color: var(--white);
}

.single-news-section .single-news-outer .single-news-pagination-outer .single-news-pagination .single-news-pagination-info .single-news-pagination-news-title {
   font-size: 20px;
   line-height: 1.5;
   width: 100%;
   max-width: 475px;
}

.single-news-section .single-news-outer hr.news-hr {
   background: rgba(9, 25, 65, 0.50);
   height: 1px;
   margin: 30px 0;
}

.single-news-section .single-news-outer .comment-form {
   display: flex;
   flex-wrap: wrap
}

.single-news-section .single-news-outer .comment-form .comment-form-input-wrap.td-form-author,
.single-news-section .single-news-outer .comment-form .comment-form-input-wrap.td-form-email {
   width: calc(50% - 20px);
   display: inline-flex;
   margin-bottom: 40px;
}

.single-news-section .single-news-outer .comment-form .comment-form-input-wrap.td-form-email {
   margin-left: auto;
}

.single-news-section .single-news-outer .comment-form .comment-form-input-wrap.td-form-url {
   width: 100%;
   margin-bottom: 40px;
}

.single-news-section .single-news-outer .comment-form .comment-form-input-wrap.td-form-comment {
   width: 100%;
   margin-bottom: 20px;
}

.single-news-section .single-news-outer .comment-form .comment-form-cookies-consent,
.single-news-section .single-news-outer .comment-form .comment-subscription-form {
   width: 100%;
   display: flex;
   gap: 10px;
   align-items: center;
}

.single-news-section .single-news-outer .comment-form .comment-form-cookies-consent label,
.single-news-section .single-news-outer .comment-form .comment-subscription-form label {
   cursor: pointer;
}

/** Single News section End **/


/** Archive Page Start **/
.sidebar-news-list .news-list-box {
   margin-bottom: 60px;
}

.pagination-outer {
   font-size: 18px;
}

.pagination-outer .pagination {
   display: flex;
   gap: 10px;
}

.pagination-outer .pagination span,
.pagination-outer .pagination a {
   border-radius: 5px;
   background-color: transparent;
   padding: 5px;
   color: var(--primary);
   min-width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.pagination-outer .pagination a.page:first-child,
.pagination-outer .pagination a.page:last-child {
   background-color: #F9FBFF;
}

.pagination-outer .pagination span.current,
.pagination-outer .pagination a.page:hover {
   background-color: var(--primary);
   color: var(--white);
}

.pagination-outer .pagination a.page img {
   transition: 0.5s;
}

.pagination-outer .pagination a.page:hover img {
   filter: brightness(0) invert(1);
}

.news-archive-outer {
   position: relative;
}

.news-archive-outer:after {
   content: "";
   position: absolute;
   top: 0;
   right: -30px;
   height: 100%;
   width: 1px;
   background: rgba(9, 25, 65, 0.50);
}

/** Archive Page End **/